*, 
*::after, 
*::before
{
    box-sizing: border-box;
}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
li
{
    padding-left: 0;
}
h4
{
    margin: 0;
}
a
{
    text-decoration: none;
    color: inherit;
}
body
{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}
.container
{
    width: 1220px;
    padding: 0 10px;
    margin: 0 auto;

}
.header__inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu
{
    margin-right: 70px;
}
.menu__list
{
    display: flex;

}
.menu__item +.menu__item
{
    padding-left: 10px;
}
.menu__link
{
    text-transform: uppercase;
    padding: 43px 20px;
    transition: all .4s;
}
.menu__link:hover
{
    background-color: #131313;
    color: white;
}
.bike
{
    padding: 100px 0 150px;
}
.bike__inner
{
    display: flex;
    justify-content: space-between;
}
.bike__column-slider
{
    display: flex;
    flex-direction: column;
    flex-basis: 630px;
    margin-left: 30px;
    max-width: 630px;
}
.bike__title
{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin: 60px 0 5px;
}
.bike__subtitle
{
    margin: 0 0 60px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #6f6f6f
}
.bike__text
{
    margin-bottom: 20px;
    max-width: 420px;
}
.bike__link
{
    margin-top: 80px;
    display: inline-block;
    background-color: #131313;
    color: white;
    padding: 28px calc(81px - 1.1em);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    transition: all .3s;
}
.bike__link:hover
{
    background-color:#ff4040;
}
.bike-slider .slick-dots
{
    right: 0;
    top: 52px;
}
.slick-dots
{
    position: absolute;
    
}
.slick-dots li +li
{
    padding-top: 10px;
}
.slick-dots button
{
    font-size: 0;
    padding: 0;
    border: none;
    background-color: #131313;
    width: 2px;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .4s;
}
.slick-active button, .slick-dots button:hover
{
    background-color:#ff4040
}
.bike__list
{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}
.bike__list-item
{
    font-weight: 700;
    text-transform: uppercase;
    min-width: 160px;
    text-align: center;
}
.bike__list-item span
{
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-transform: lowercase;
    margin-top:10px;
}
.info
{
    margin-bottom: 150px;
}
.info__inner
{
    display: flex;
}
.info__img
{
    margin-right: 60px;
    flex-basis: 570px;
}
.info__item
{
    max-width: 482px;
}
.info__item +.info__item
{
    margin-top: 50px;
}
.info__item-title:nth-child(1)
{
    margin-top: 0;
}
.info__item-title
{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #131313;
}
.info__item-text
{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color:#131313;
}
.charact__inner
{
    display: flex;
    align-items: center;
}
.charact__img
{
    margin-left: 60px;
    width: 570px;
    height: 401px;
}
.charact__list
{
    flex-basis: 570px;
    height: 100%;
}
.charact__item-title
{
    background-color: #131313;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: white;
    margin: 0 ;
    padding: 2px 0;
}
.charact__list-title
{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #131313;
    margin: 0 0 40px;
}
table,tbody
{ 
    width: 100%;   
}
td
{
    padding: 5px 0;
    align-self: center ;
    width: 50%;
    height: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #131313;
}
.bike-preview__item
{
    padding-left: 50px;
}
.bike-preview-slider__item .slick-dots
{
    top: 0;
    left: -50px;
}
.bike-preview
{
    padding: 150px 0 50px;
}
.form{
    max-width: 420px;
}
.form__title
{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}
.form__text
{
    max-width: 300px;
    margin-bottom: 30px;
}
.form__input-name, .form__input-phone
{
    width: 100%;
    border: none;
    border-bottom: 1px solid #131313;
    padding-bottom: 10px;
    margin-bottom: 20px;
    outline:none;
}
.form__input-name::placeholder, .form__input-phone::placeholder
,.form__input-text
{
   color:#6f6f6f;
   opacity: 0.5;
}
.form__input-text
{
    margin-bottom: 10px;
}
.form__label-box
{
    display: flex;
    margin-bottom: 50px;
}
.form__input-radio{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.price__inner
{
    position: relative;
}
.form__bike{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
.form__radio-style
{

    border-radius: 30px;
    width: 80px;
    height: 12px;
}
.form__radio-style-grey
{
    background: #6f6f6f;
}
.form__radio-style-white
{
    background: #fff;
    border: 1px solid #6f6f6f;
}
.form__radio-style-red
{
    background: #ff4040;
}
.form__label +.form__label{
    margin-left: 23px ;
}
.form__btn
{
    background-color: #131313;
    padding:  28px 71px 28px 81px;
    color:#fff;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    cursor: pointer;
    transition: all .3s;
}
.form__btn:hover
{
    background-color:#ff4040;
}
.form__input-radio:checked +.form__bike{
    display: block;
}
.form__bike-price
{
    font-size: 32px;
    border: 1px solid #ff4040;
    border-radius: 50%;

    position: absolute;
    top:-5%;
    left: -13%;
    right: 0;

    width: 220px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.form__bike-price::after
{
    content: "";
    position: absolute;
    width: 220px;
    height: 100px;
    border: 1px solid #ff4040;
    border-radius: 50%;
    top: 12px;
    left: 0;
}
.price
{
    padding-bottom: 50px;
}
footer
{   
    color:#fff;
    background-color: #131313;
    height: 100px;
}
.footer__inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.footer__social-link +.footer__social-link
{
    margin-left: 26px;
}
.footer__contacts-link 
{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.footer__contacts-img 
{
    margin-right: 10px;
}