*, 
*::after, 
*::before
{
    box-sizing: border-box;
}
p{margin: 0;}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
li
{
    padding-left: 0;
}
h4
{
    margin: 0;
}
a
{
    text-decoration: none;
    color: inherit;
}
body
{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}
.container
{
    width: 1220px;
    padding: 0 10px;
    margin: 0 auto;

}
.header__inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu
{
    margin-right: 70px;
}
.menu__list
{
    display: flex;

}
.menu__item +.menu__item
{
    padding-left: 10px;
}
.menu__link
{
    text-transform: uppercase;
    padding: 43px 20px 40px;
    transition: all .4s;
}
.menu__link:hover
{
    background-color: #131313;
    color: white;
}
.bike
{
    padding: 100px 0 0;
}
.bike__inner
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.bike__column-slider
{
    display: flex;
    flex-direction: column;
    flex-basis: 630px;
    max-width: 630px;
}
.bike__title
{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin: 0 ;
}
.bike__subtitle
{
    margin: 0 0 60px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #6f6f6f
}
.bike__text
{
    margin-bottom: 20px;
    max-width: 420px;
}
.bike__link
{
    margin-top: 80px;
    display: inline-block;
    background-color: #131313;
    color: white;
    padding: 28px calc(81px - 1.1em);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    transition: all .3s;
}
.bike__link:hover
{
    background-color:#ff4040;
}
.bike-slider
{
    cursor: pointer;
}
.bike-slider .slick-dots
{
    right: 0;
    top: 52px;
}
.slick-dots
{
    position: absolute;
    
}
.slick-dots li +li
{
    padding-top: 10px;
}
.slick-dots button
{
    font-size: 0;
    padding: 0;
    border: none;
    background-color: #131313;
    width: 2px;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .4s;
}
.slick-active button, .slick-dots button:hover
{
    background-color:#ff4040
}
.bike__list
{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}
.bike__list-item
{
    font-weight: 700;
    text-transform: uppercase;
    min-width: 160px;
    text-align: center;
}
.bike__list-item span
{
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-transform: lowercase;
    margin-top:10px;
}
.info
{
    padding: 100px 0 0;
}
.info__inner
{
    display: flex;
    justify-content: space-between;
}
.info__item
{
    max-width: 460px;
}
.info__item +.info__item
{
    margin-top: 50px;
}
.info__item-title:nth-child(1)
{
    margin-top: 0;
}
.info__item-title
{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #131313;
}
.info__item-text
{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color:#131313;
}
.charact
{
    padding: 100px 0 0;
}
.charact__inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.charact__img
{

    width: 570px;
    height: 401px;
}
.charact__list
{
    flex-basis: 570px;
    height: 100%;
}
.charact__item-title
{
    background-color: #131313;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: white;
    margin: 0 ;
    padding: 2px 0;
}
.charact__list-title
{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #131313;
    margin: 0 0 40px;
}
table,tbody
{ 
    width: 100%;   
}
td
{
    padding: 5px 0;
    align-self: center ;
    width: 50%;
    height: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #131313;
}
.bike-preview__item
{
    padding-left: 50px;
}
.bike-preview-slider__item .slick-dots
{
    top:0;
    left: -50px;
}
.bike-preview
{
    padding: 100px 0 0;
}
.form{
    max-width: 420px;
}
.form__title
{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}
.form__text
{
    max-width: 300px;
    margin-bottom: 30px;
}
.form__input-name, .form__input-phone
{
    width: 100%;
    border: none;
    border-bottom: 1px solid #131313;
    padding-bottom: 10px;
    margin-bottom: 20px;
    outline:none;
}
.form__input-name::placeholder, .form__input-phone::placeholder
,.form__input-text
{
   color:#6f6f6f;
   opacity: 0.5;
}
.form__input-text
{
    margin-bottom: 10px;
}
.form__label-box
{
    display: flex;
    margin-bottom: 50px;
}
.form__input-radio{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.price__inner
{
    position: relative;
}
.form__bike{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
.form__radio-style
{

    border-radius: 30px;
    width: 80px;
    height: 12px;
}
.form__radio-style-grey
{
    background: #6f6f6f;
}
.form__radio-style-white
{
    background: #fff;
    border: 1px solid #6f6f6f;
}
.form__radio-style-red
{
    background: #ff4040;
}
.form__label +.form__label{
    margin-left: 23px ;
}
.form__btn
{
    background-color: #131313;
    padding: 28px calc(81px - 1.1em);
    color:#fff;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    cursor: pointer;
    transition: all .3s;
}
.form__btn:hover
{
    background-color:#ff4040;
}
.form__input-radio:checked +.form__bike{
    display: block;
}
.form__bike-price
{
    font-size: 32px;
    border: 1px solid #ff4040;
    border-radius: 50%;

    position: absolute;
    top:-5%;
    left: -13%;
    right: 0;

    width: 220px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.form__bike-price::after
{
    content: "";
    position: absolute;
    width: 220px;
    height: 100px;
    border: 1px solid #ff4040;
    border-radius: 50%;
    top: 12px;
    left: 0;
}
.price
{
    padding: 100px 0 50px;    /* ==================================*/
}
footer
{   
    color:#fff;
    background-color: #131313;
    height: 100px;
}
.footer__inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.footer__social-link +.footer__social-link
{
    margin-left: 26px;
}
.footer__contacts-link 
{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.footer__contacts-img 
{
    margin-right: 10px;
}


@media(max-width:1220px)
{
    .container
    {
        width: auto;
    }
}
@media(max-width:1099px)
{
    .menu
    {
        margin-right:0;
    }
    .header__inner
    {
        justify-content: space-evenly;
    }
    .bike
    {
        padding: 50px 0 0;
    }
    .bike__inner
    {
        flex-direction: column;
        align-items: center;
    }
    .bike__column
    {

        text-align: center;
    }
    .bike__subtitle
    {
        margin: 0 0 30px;
    }
    .bike__text
    {
        display: block;
        text-align: center;
        margin: auto;
        width: 85%;
        max-width:700px;
    }
    .bike__link
    {
        display: inline-block;
        margin: 40px 0;
        padding: 28px calc(81px - 1.1em);
    }
    .info
    {
        margin: 0;
        padding: 50px 0 0;
    }
    .info__img
    {
        display: none;
    }
    .info__inner
    {
        justify-content: center;
    }
    .info__list
    {
        display: flex;
        flex-wrap: wrap;
    }
    .info__item +.info__item 
    {
        margin-top:0;
    }
    .info__item
    {
        margin: 0 auto 15px;
        max-width: 400px;
    }
    .charact
    {
        padding: 50px 0 0;
    }
    .charact__inner
    {
        flex-direction: column-reverse;
    }
    .charact__img
    {
        display: none;
    }
    .charact__list h2
    {
        text-align: center;
    }
    .bike-preview
    {
        padding: 50px 0 0;
    }
    .bike-preview__item {

        padding-left:0;
    }
    .bike-preview-slider__item
    {
        max-width: 750px;
        margin: 0 auto;
    }
    .bike-preview-slider__item .slick-dots
    {
        top:0;
        left: -35px;
    }
    .price__inner
    {
        margin: 0;
    }
    .form__bike-img
    {
        width: 500px;
    }
    .form__bike-price
    {
        top: 100%;
        left:30%;
        right: 0;
    }
}
@media(max-width:849px)
{
    .bike__text
    {
        width: 100%;
        max-width: 550px;
    }
    .info__item
    {
        max-width: 550px;
        text-align: center;
    }
    .bike-preview-slider__item
    {
        max-width: 600px;

    }
    .form__title, .form__text
    {
        margin: 0 auto 25px;
        text-align: center;
    }
    .form__bike-img
    {
        width: 300px;
    }
    .form__bike-price
    {
        top: 150%;
        left:15%;
        right: 0;
    }
    .form__label-box
    {
        justify-content: center;
    }
} 
@media(max-width:699px) 
{
    .header__inner
    {
        flex-direction: column; 
    }
    .menu
    {
        margin-top:40px;
    }
    .menu__list li:nth-child(2) .menu__link
    {
        padding: 40px 14px;
        
    }
    .bike__inner
    {
        display: block;
    }
    .bike__subtitle
    {
        margin-bottom: 15px;
    }
    .bike__text
    {
        max-width:450px;
    }
    .bike__column-slider
    {
        display: block;
        margin: 0 auto ; 
        max-width: 400px;  
    }
    .bike__list
    {
        width: 100%;
        flex-wrap: wrap-reverse;
    }
    .bike__list-item
    {
       padding: 10px;
    }
    .bike-preview-slider__item
    {
        max-width: 500px;
    }

    .form__bike-img
    {
        width: 300px;
    }
    .form__bike-price
    {
        top: 150%;
        left:15%;
        right: 0;
    }
    .form
    {
        margin: 0 auto;
    }
    .form__bike
    {
        position:static;
    }
    .form__radio-style-white
    {
        margin: 0 auto;
    }
    .form__radio-style-red
    {
        margin: 0 0 0 auto;
    }
    .form__bike-price, .form__bike-price::after
    {
        display: block;
        width: 100%;
        height: max-content;
        margin: 20px 0;
        text-align: center;
        position: static;
        border: none;
    }
    .form__radio-style
    {
        min-height: 40px;
        min-width: 100px;
    }
    .price
    {
        padding: 50px 0 50px;
    }
    .form__btn
    {
        display: block;
        margin: 0 auto;
        width: 100%;
        letter-spacing: 0.5em;
        padding: 14 auto;
    }
}
@media(max-width:599px)
{
    .bike__text
    {
        max-width:400px;
    }
    .info__item
    {
        max-width: 400px;
    }
    td 
    {
        padding: 5px 5px;
    }
    .bike-preview-slider__item
    {
        max-width: 420px;
    }
    .bike-preview-slider__item .slick-dots
    {
        top:0;
        left: -10px;
    }
    .form__label-box
    {
        flex-direction: column;
    }
    .form__btn
    {
        margin: 0 auto;
    }
    .form__radio-style-grey
    {
        margin: 10px auto;
    }
    .form__radio-style-white
    {
        margin: 10px auto;
    }
    .form__radio-style-red
    {
        margin: 10px  auto;
    }
    .form__label +.form__label
    {
        margin: 0px auto;
    }
    .form__bike-img
    {
        width: 100%;
    }
    footer
    {
        height: auto;
    }
    .footer__items
    {
        margin-bottom: 15px;
    }
    .footer__social
    {
        margin: auto;
    }
    .footer__inner
    {
        padding: 15px 0 0;
        flex-direction: column;
        height:100%;
    }
}
@media(max-width:449px)
{
    .menu__list
    {
        flex-direction: column;
        align-items: center;
    }
    .menu__list li:nth-child(2) .menu__link
    {
        padding: 10px;
    }
    .menu
    {
        margin: 0;
    }
    .menu__item
    {
        width: 100%;
    }
    .menu__item +.menu__item
    {
        padding: 0;
    }
    .menu__link
    {
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px;
    }
    .bike
    {
        padding: 25px 0 50px;
    }
    .bike__link
    {
        letter-spacing: 0.5em;
        padding: 14 calc(41px - 0.5em);
    }
    .bike-slider
    {
        margin: 0 auto;
        max-width: 320px;
    }
    .bike__text
    {
        max-width:330px;
    }
    .info__item
    {
        max-width: 330px;
    }
    .bike-preview-slider__item
    {
        max-width: 330px;
    }
    
}